<nav class="nav">
  <div class="nav__container">
    <div class="nav__logo">
      <img class="nav__logo-image" src="/static/images/logo.svg" alt="Nic & Diego">
    </div>

    <button class="nav__trigger" data-open={{ nav.menu }} data-close={{ nav.close }}>{{ nav.menu }}</button>
    <div class="nav__overlay"></div>

    <ul class="nav__list">
      {{#each nav.links}}
        <li class="nav__item">
          <a class="nav__link" href="{{ this.link }}">
            {{ name }}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>